@use './colorVariables.module.scss' as *;
@use './fonts.modules.scss' as *;

html,
body {
  background-color: $PHB-BG;
  margin: 0;
  font-family: $font-principal;
  box-sizing: border-box; // Reset inicial
}

*, *::before, *::after {
  box-sizing: inherit; // Herencia controlada
}
